<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #field{
            margin: 0 auto;
            width: 50%;
            text-align:center
        }
        body {
            background-color: #f0f0f0;
            text-align: center;
            margin-top: 100px;
        }
        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 50%;
            background-color: #fff;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1> Login </h1>
   
    </h5>
    <form action="/user/login" method="post">

        <!-- <label >Full Name:</label> -->
        
        <!-- <label >Email:</label> -->

        <input type="text" placeholder="Email" name="email" required /><br>
        <!-- <label >Password:</label> -->
        <input type="text" placeholder="Password" name="password" required /><br>
        <br>

        <button type="submit" id="submit">Login</button>


    </form>
    
</body>
</html>